<h3>Add an Item to Auction</h3>

<form ng-submit="controller.addAuction()">
    <label for="name"> Name: 
        <input id="name" type="text" ng-model="controller.auctionToCreate.name"/>
    </label>
    <br />
    <label> Description:
        <textarea id="description" ng-model="controller.auctionToCreate.description"></textarea>
    </label>
    <br />
    <label for="minimumBid"> Minimum Bid:
        <input id="minimumBid" type="number" step="any" ng-model="controller.auctionToCreate.minimumBid" />
    </label>
    <br />
    <label for="numberOfBids"> Number Of Bids:
        <input id="numberOfBids" type="number" ng-model="controller.auctionToCreate.numberOfBids" />
    </label>

    <br />
    <label> Add Images
        <button class="button" ngf-select="controller.upload($file)">Upload</button>
    </label>
    <br />
    <input type="submit" value="Save" />


</form>