<h3>Add Item to Auction</h3>

<form method="post" enctype="multipart/form-data" action="/api/upload/">
    <label for="name"> Name: 
        <input id="name" type="text" name="name" required/>
    </label>
    <br />
    <label> Description:
        <textarea id="description" name="description" required></textarea>
    </label>
    <br />
    <label for="minimumBid"> Minimum Bid:
        <input id="minimumBid" type="number" step="any" name="minimumBid"  required/>
    </label>
    <br />
    <label for="numberOfBids"> Number Of Bids:
        <input id="numberOfBids" type="number" name="numberOfBids" />
    </label>

    <br />
    <label> Add Item Images.. <br />
        <input type="file" name="files" multiple />
    </label>
    <br />
    <input type="submit" value="Save" />


</form>